@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Details.cshtml -->
@model BankBranch

<h2>Branch Details</h2>

<div>
    <h4>Location Name: @Model.LocationName</h4>
    <p>LocationURL: @Model.LocationURL</p>
    <p>Branch Manager: @Model.BranchManager</p>
    <p>Employee Count: @Model.EmployeeCount</p>
    


</div>


<table class="table">
    <thead>

        <tr>
            <th> Name</th>
            <th>Position</th>
            <th>CivilId</th>
            

        </tr>
    <thead>
    <tbody>


    
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Position</td>
                <td>@employee.CivilId</td>
            
            </tr>
        }

    
<div>
    <a class="btn btn-info" href="/Bank/AddEmployee/@Model.BankId">Add Employee</a>
</div> 
